{% extends "main/header.html"%}
{%block content%}
<div class="col s6">
	<h4> About us: </h4>
	<p>AndroidStOv is your Stack Overflow Android explorer, here you can find all the recent asked questions in Stack Overflow concerning Android programming, also you get to see the top voted questions related to Android.</p>
	<h4>Bonus:</h3>
	<p>Sign up with us today and get free e-mails whenever a new Android programming question is posted on Stack Overflow!</p>
	<h4>Meet our mascot:</h3>
	<img class="img" src="/static/main/images/mascot.jpg">
</div>
{%endblock%}
